<div class="todo-app">
  <div class="centered-title">
    <h1>TODO LIST</h1>
  </div>

  <!-- <div class="button-group">
    <button mat-raised-button id="addTask" class="add-button">Add Task</button>

    <mat-form-field class="right-button">
      <mat-label>All</mat-label>
      <mat-select>
        <mat-option value="option1">All</mat-option>
        <mat-option value="option2">Incomplete</mat-option>
        <mat-option value="option3">Complete</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="task-list" id="taskList"></div>
</div> -->
  <div class="task-controls">
    <div class="add-button">
      <button mat-raised-button color="primary" id="addTask" class="add-button">
        Add Task
      </button>
    </div>

    <div class="select-button">
      <mat-form-field>
        <mat-label>All</mat-label>
        <mat-select>
          <mat-option value="option1">All</mat-option>
          <mat-option value="option2">Incomplete</mat-option>
          <mat-option value="option3">Complete</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
