<h2 mat-dialog-title>{{ data.id ? 'Update Task' : 'Add Task' }}</h2>
<form [formGroup]="taskForm">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Incomplete">Incomplete</mat-option>
        <mat-option value="Complete">Complete</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="taskForm.value">
      {{ data.id ? 'Update' : 'Add' }}
    </button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
  </mat-dialog-actions>
</form>